#orderInvoice {
	width: 100%;
	height: auto;
}

/*======== Current Order =======*/
#orderQuantity {
	/*float: left;*/
	position: absolute;
	left: 200px;
	top: 50px;
	height: 100px;
	width: 50px;
}
.currentOrder {
	height: 25px;
	width: 25px;
	border: solid;
	border-color: black;
	border-width: thin;
	margin: 5px;
	text-align: center;
}

/*======= Order Item Totals ========*/
#totalOrderHistory {
	/*float: left;*/
	position: absolute;
	left: 500px;
	top: 50px;
	height: 100px;
	width: 50px;

}
.totals {
	height: 25px;
	width: 25px;
	border: dotted;
	border-width: thin;
	border-color: black;
	color: black;
	text-align: center;
}
